*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, red, #150339);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    color: #fff;
}
.container{
    background:linear-gradient(135deg,#150339, red) ;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 400px;
    overflow: hidden;
    max-width: 100%;

}
.header{
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
.header h2{
    margin: 0;

}
.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    outline: none;

}
.form-control.success input{
    border-color: #2ecc71;
}
.form-control.error input{
    border-color: red;
}
.form-control i{
    position: absolute;
    top: 35px;
    right: 10px;
    visibility: hidden;

}
.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: red;
    visibility: visible;
}
.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
.form-control.error small{
    color: #e74c3e;
    visibility: visible;
}
.form button{
    color: #fff;
    border: 2px solid #8e44ad;
    background:linear-gradient(135deg,red, #150339) ;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    width: 100%;


}
.form button:hover{
    background:linear-gradient(135deg,#150339, red)  ;
    outline: none;
}